<a href="https://colab.research.google.com/github/JairAlonso0/daa_2021_1/blob/master/26Octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from time import time

def ejemplo1( n ):
    start_time = time()
    c = n + 1
    d = c * n
    e = n * n
    total = c + e - d
    print(f"total={ total }")
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
for entrada in range(100,1100,100):
  ejemplo1( entrada )

total=1
Tiempo transcurrido: 0.0031828880 segundos.
total=1
Tiempo transcurrido: 0.0006530285 segundos.
total=1
Tiempo transcurrido: 0.0001502037 segundos.
total=1
Tiempo transcurrido: 0.0008513927 segundos.
total=1
Tiempo transcurrido: 0.0001404285 segundos.
total=1
Tiempo transcurrido: 0.0001199245 segundos.
total=1
Tiempo transcurrido: 0.0001175404 segundos.
total=1
Tiempo transcurrido: 0.0001921654 segundos.
total=1
Tiempo transcurrido: 0.0001454353 segundos.
total=1
Tiempo transcurrido: 0.0002479553 segundos.

In [ ]:
from time import time

def ejemplo2( n ):
    start_time = time()
    contador = 0
    for i in range( n ) :
        for j in range( n ) :
            contador += 1
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return 
for entrada in range(100,1100,100):
  ejemplo2( entrada )

Tiempo transcurrido: 0.0012433529 segundos.
Tiempo transcurrido: 0.0021407604 segundos.
Tiempo transcurrido: 0.0055353642 segundos.
Tiempo transcurrido: 0.0080296993 segundos.
Tiempo transcurrido: 0.0126156807 segundos.
Tiempo transcurrido: 0.0191817284 segundos.
Tiempo transcurrido: 0.0253238678 segundos.
Tiempo transcurrido: 0.0391724110 segundos.
Tiempo transcurrido: 0.0419344902 segundos.
Tiempo transcurrido: 0.0548255444 segundos.

In [ ]:
from time import time

def ejemplo3( n ): # n=4
    start_time = time()
    x = n * 2 # x = 8
    y = 0   # y = 0
    for m in range( 100 ): #3
        y = x - n   # y = 4
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return y
for entrada in range(100,1100,100):
  ejemplo3(entrada)

Tiempo transcurrido: 0.0000047684 segundos.
Tiempo transcurrido: 0.0000071526 segundos.
Tiempo transcurrido: 0.0000083447 segundos.
Tiempo transcurrido: 0.0000088215 segundos.
Tiempo transcurrido: 0.0000088215 segundos.
Tiempo transcurrido: 0.0000085831 segundos.
Tiempo transcurrido: 0.0000088215 segundos.
Tiempo transcurrido: 0.0000083447 segundos.
Tiempo transcurrido: 0.0000083447 segundos.
Tiempo transcurrido: 0.0000088215 segundos.

In [ ]:
from time import time

def ejemplo4( n ):
    start_time = time()
    x = 3 * 3.1416 + n
    y = x + 3 * 3 - n
    z = x + y
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return z
for entrada in range(100,1100,100):
  ejemplo4(entrada)

Tiempo transcurrido: 0.0000016689 segundos.
Tiempo transcurrido: 0.0000009537 segundos.
Tiempo transcurrido: 0.0000007153 segundos.
Tiempo transcurrido: 0.0000004768 segundos.
Tiempo transcurrido: 0.0000007153 segundos.
Tiempo transcurrido: 0.0000004768 segundos.
Tiempo transcurrido: 0.0000004768 segundos.
Tiempo transcurrido: 0.0000009537 segundos.
Tiempo transcurrido: 0.0000007153 segundos.
Tiempo transcurrido: 0.0000004768 segundos.

In [ ]:
from time import time

def ejemplo5( x ):
    start_time = time()
    n = 10
    for j in range( 0 , x , 1 ):
        n = j + n
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return n
for entrada in range(100,1100,100):
  ejemplo5(entrada)

Tiempo transcurrido: 0.0000138283 segundos.
Tiempo transcurrido: 0.0000207424 segundos.
Tiempo transcurrido: 0.0000362396 segundos.
Tiempo transcurrido: 0.0000364780 segundos.
Tiempo transcurrido: 0.0000450611 segundos.
Tiempo transcurrido: 0.0000460148 segundos.
Tiempo transcurrido: 0.0000581741 segundos.
Tiempo transcurrido: 0.0000584126 segundos.
Tiempo transcurrido: 0.0000705719 segundos.
Tiempo transcurrido: 0.0000994205 segundos.

In [ ]:
from time import time

def ejemplo6( n ):
    start_time = time()
    data=[[[1 for x in range(n)] for x in range(n)] 
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return suma
for entrada in range(100,1100,100):
  ejemplo6( entrada )

Tiempo transcurrido: 0.1318941116 segundos.
Tiempo transcurrido: 1.0019896030 segundos.
Tiempo transcurrido: 3.6568565369 segundos.
Tiempo transcurrido: 9.3231561184 segundos.
Tiempo transcurrido: 18.5983426571 segundos.
Tiempo transcurrido: 32.4201970100 segundos.
Tiempo transcurrido: 52.4098000526 segundos.
Tiempo transcurrido: 81.4956727028 segundos.
Tiempo transcurrido: 113.9147901535 segundos.
Tiempo transcurrido: 154.7635571957 segundos.

In [ ]:
def ejemplo7( n ):
    count = 0
    for i in range( n ) :
        for j in range( 25 ) :
            for k in range( n ):
                count += 1
    return count

    # 1 + 25 n^2

In [ ]:
def ejemplo7_2( n ):
    count = 0
    for i in range( n ) :
        for j in range( 25 ) :
            for k in range( n ):
                count += 1
            for k in range( n ):
                count += 1
    return count # 1 + 25n^2 +25n^2}
ejemplo7_2( 3 ) # 1 + 50(3) ^ 2

450

In [ ]:
def ejemplo8( numeros ): # numeros es una lista (arreglo en c)
    total = 0
    for index in range(len(numeros)):
        total = numeros[index]
    return total
ejemplo8(numeros)
# 3 + 2n

In [ ]:
def ejemplo9(  n ):
    contador = 0
    basura = 0
    for i in range( n ) :
        contador += 1
    for j in range( n ) :
        contador += 1
    basura = basura + contador
    return contador


print(ejemplo9( 5 ))

In [5]:
def ejemplo10( n ):
    count = 0
    for i in range( n ) :
        for j in range( 1 ) :
            count += i
    return count


#T(n) = 1 + (n^2+n)/2

                #1^2 = 1/2 = 0
                #2^2 = 4/2 = 2
                #3^2 = 9/2 = 3
"""
n = 3
000
n00
nn0
nnn

n = 4
0000
n000
nn00
nnn0
nnnn

n= 5
00000
n0000
nn000
nnn00
nnnn0
nnnnn
"""
print(ejemplo10(5))

10

In [6]:
def ejemplo11( n ):
    count = 0
    i = n
    while i > 1 :
        count += 1
        i = i // 2 
    return count
print(ejemplo11(16))
# T(n) =  2 + (2 Log 2 n)

4

In [7]:
def ejemplo12( n ):
    contador = 0
    for x in range(n):
        contador += ejemplo11(x)
        return contador
#1+n(2+2log2(n))
def ejemplo12_bis( n=5 ):
    contador = 0
    contador = contador + ejemplo11(0) # 0
    contador = contador + ejemplo11(1) # 0
    contador = contador + ejemplo11(2) # 1
    contador = contador + ejemplo11(3) # 1
    contador = contador + ejemplo11(4) # 2
    return contador
ejemplo12_bis( 5 )

4

In [10]:
def ejemplo13( x ):
    bandera = x
    contador = 0
    while( bandera >= 10 ):
        print(f" x = {bandera}")
        bandera /= 10
        contador = contador + 1
    print(contador)
#T(x) = log10 x + 1
ejemplo13( 1000 )

 x = 1000
 x = 100.0
 x = 10.0
3

In [11]:
def ejemplo14( n ):
    y = n
    z = n
    contador = 0
    while y >= 3: #3
        y /= 3 #1
        contador += 1 #cont =3

    while z >= 3: #27
        z /= 3
        contador += 1
    return contador
print(ejemplo14( 27 ))

#T(n) =

6

In [12]:
def ejemplo15( n ): 
    contador = 0
    for i in range( n ) :
        for j in range( n ) :
            contador += 1
            
    while n > 1 :
        contador += 1
        n /= 2
    return contador

print(ejemplo15(10))

104